body { background:#024772; padding:2em; }

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.pageTitle{
  color: rgb(13, 15, 78);
  font-size: xxx-large;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  font-weight: bold;
  text-align: center;
  margin: 40px 0px 0px 0px;
}

.page{
  display: flex;
  align-items: center;
  justify-content: center;
}

.rectangle{
  position:relative;
  background: radial-gradient(circle, rgb(2, 0, 36) 0%, rgb(93, 124, 227) 59%, rgb(20, 23, 62) 100%);
  margin-top: 2%;
  margin-bottom: 8%;
  margin-right: auto;
  width:350px;
  height:500px;
  border:2px solid #000;
}

.imgParent{
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 225px;
  justify-content: center;
  margin:0 5%;
  border: 1px solid black;
}

.image{
  transform: scale(1.7) translateY(51px) ;
}

.button{
    padding:revert;
    position: absolute;
    top: 101%;
    background-color:#041757;
    border: 2px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 110%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
}

.link{
  color:rgb(133, 45, 160);
}

.link:hover{
  color:rgb(142, 223, 224);
}

.button_deck_top{
  position: absolute;
  left:0%;
  top:0%;
  min-width: max-content;
  width: auto;
  height: auto;
  text-align: center;
    background-color:#041757;
    border: 2px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 110%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
}


.button2{
  position: absolute;
  top: 65%;
  left: 3%;
  background-color: #041757;
  border: 2px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 110%;
  padding: 1%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.button3{
  width:100%;
  margin-top: 2%;
  margin-bottom: 2%;
  height:30%;
  background-color: #041757;
  border: 2px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 110%;
  padding: 1%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.p{
  font-size: x-large;
  text-shadow: rgb(93, 80, 155) 1px 0 10px;
  text-align: center;
  color: rgb(255, 255, 255);
}


.buttonAcceuil{
  margin-top: 40px;
  width:40%;
  background-color: #041757;
  border: 2px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 110%;
  padding: 1%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.deck{
  display:flex;
  flex-wrap: wrap;
  align-content: center;
  padding-left: 20px;
}

.name{
  white-space: nowrap;
  margin-left: 5%;
  text-shadow: 1px 1px 2px red, 0 0 1em rgb(255, 38, 0), 0 0 0.2em rgb(0, 132, 255);
  font-size: 150%; 
  height: 32px;
  overflow: auto;
}

.title{
  white-space: nowrap;
  text-size-adjust: auto;
  position:absolute;
  top : 5%;
  margin: 5%;
  text-shadow: 1px 1px 2px red, 0 0 1em rgb(255, 38, 0), 0 0 0.2em rgb(0, 132, 255);
  font-size: 100%; 
  text-align: left;
}

.label{
  width: auto;
  white-space: nowrap;
  text-size-adjust: auto;
  color:#ffffff;
  text-align: left;
  font:bold;
}

.descriptionTitle{
  position:relative;
  margin: 3% 5%;
  text-shadow: 1px 1px 2px red, 0 0 1em rgb(255, 38, 0), 0 0 0.2em rgb(0, 132, 255);
  font-size: 115%; 
  text-align: left;
}

.mana{
  margin-left:5%;
  font-size: "35px";
  text-shadow: 1px 1px 1px;
  font-weight: bold;
}



.description{
  position:relative;
  margin: 2% 5%;
  font-size: 85%; 
  text-align: left;
  height: 120px;
  overflow: auto;
}

.artWork{
  position: absolute;
  margin: auto;
  width: auto;
  padding: 3%;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.form{
  padding: 1% 2% 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.border{
  margin: 1%; 
  border: solid;
  border-color: #000;
}

.div{
  display: flex;
  justify-content: space-around;
}

.site-title{
  font-size:2rem;
}

.nav{
  background-color:rgb(13, 15, 78);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active {
  background-color: rgb(80, 78, 78);
  pointer-events: none;
  cursor:default;
}


.nav li:hover {
  background-color: #777;
}

.modal{
  position:fixed;
  left:0;
  top:0;
  right:0;
  bottom:0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  z-index: 500;
}

.modal-content {
  width: 500px;
  height: auto;
  background-color: #fff;
}

.modal-header, .modal-footer{
 padding: 10px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display:flex;
  justify-content: center;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
