body { background:#024772; padding:2em; }

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.pageTitle{
  color: rgb(13, 15, 78);
  font-size: 400%;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  font-weight: bold;
  text-align: center;
}

.page{
  display: flex;
  align-items: center;
  justify-content: center;
}

.rectangle{
  position:relative;
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(93,124,227,1) 59%, rgba(0,212,255,1) 100%); 
  margin: auto;
  margin-top: 2%;
  margin-bottom: 5%;
  width:350px;
  height:500px;
  border:2px solid #000;
}

.imgParent{
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 225px;
  justify-content: center;
  margin:0 5%;
  border: 1px solid black;
}

.image{
  transform: scale(1.7) translateY(51px) ;
}

.button{
    position: absolute;
    top: 101%;
    background-color:#041757;
    border: 2px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 110%;
    padding: 4%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
}

.button2{
  position: absolute;
  top: 65%;
  left: 3%;
  background-color: #041757;
  border: 2px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 110%;
  padding: 1%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.button3{
  position: relative;
  margin: 1%;
  background-color: #041757;
  border: 2px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 110%;
  padding: 1%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.deck{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
}

.name{
  white-space: nowrap;
  margin-left: 5%;
  text-shadow: 1px 1px 2px red, 0 0 1em rgb(255, 38, 0), 0 0 0.2em rgb(0, 132, 255);
  font-size: 150%; 
}

.title{
  white-space: nowrap;
  text-size-adjust: auto;
  position:absolute;
  top : 5%;
  margin: 5%;
  text-shadow: 1px 1px 2px red, 0 0 1em rgb(255, 38, 0), 0 0 0.2em rgb(0, 132, 255);
  font-size: 100%; 
  text-align: left;
}

.descriptionTitle{
  position:relative;
  margin: 3% 5%;
  text-shadow: 1px 1px 2px red, 0 0 1em rgb(255, 38, 0), 0 0 0.2em rgb(0, 132, 255);
  font-size: 115%; 
  text-align: left;
}

.mana{
  margin-left:5%;
  font-size: "35px";
  text-shadow: 1px 1px 1px;
  font-weight: bold;
}



.description{
  position:relative;
  margin: 2% 5%;
  font-size: 95%; 
  text-align: left;
}

.artWork{
  position: absolute;
  margin: auto;
  width: 20%;
  padding: 3%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
